@import "mixins";


$light-blue: #0ac5f4;
$white: #fff;
$red-off: #b00;
$red-on: #f00;
$green-off: #0b0;
$green-on: #0f0;
$blue-off: #009;
$blue-on: #00f;
$yellow-off: #bb0;
$yellow-on: #ff0;

$controls_width: 282.842712475px;
$controls_half_width: 141.421356237px;
$margin: 7.071067812px;
$margin_x_4: 28.2842712px;
$tile_width: 127.279220614px;


@include keyframes(red) {
  50% {
    background-color: $red-on;
  }
}
@include keyframes(green) {
  50% {
    background-color: $green-on;
  }
}
@include keyframes(blue) {
  50% {
    background-color: $blue-on;
  }
}
@include keyframes(yellow) {
  50% {
    background-color: $yellow-on;
  }
}


// layout
body {
  background-color: $light-blue;
  color: $white;
  font-family: "lato";
  font-size: 1.5em;
}

.controls {
  width: $controls_width;
  position: relative;
  left: 50%;

  @include transform(translate(-$controls_half_width, 10%) rotate(45deg));

  .tile {
    width: $tile_width;
    height: $tile_width;
    margin: $margin;
    float: left;
  }

  #red {
    background-color: $red-off;

    &.flash {
      @include animation(red 1s);
    }
  }

  #green {
    background-color: $green-off;

    &.flash {
      @include animation(green 1s);
    }
  }

  #blue {
    background-color: $blue-off;

    &.flash {
      @include animation(blue 1s);
    }
  }

  #yellow {
    background-color: $yellow-off;

    &.flash {
      @include animation(yellow 1s);
    }
  }
}

.status {
  margin: $margin;
}

.round {
  @include transform(translate($margin_x_4, $margin) rotate(-90deg));
  @include transform-origin(100% 100%);

  div {
    margin: $margin;
    text-align: right;
  }
}

#simon-turn, #player-turn, #game-over {
  display: none;
}


// states
.simon-turn {
  #simon-turn {
    display: block;
  }
}

.player-turn {
  #player-turn {
    display: block;
  }

  .button {
    &:hover {
      cursor: pointer;
    }
  }

  #red {
    &:active {
      background-color: $red-on;
    }
  }

  #green {
    &:active {
      background-color: $green-on;
    }
  }

  #yellow {
    &:active {
      background-color: $yellow-on;
    }
  }

  #blue {
    &:active {
      background-color: $blue-on;
    }
  }
}

.game-over {
  #game-over {
    display: block;
  }
}
